<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body style="background-color:#5bc0de" background={% static 'image/image.jpg'%}>



<h1 style="color:inherit; font-style:oblique; font-family:'Stencil Std'" align="center"> CLOUD SERVICE SELECTION </h1>
<div class="carousel slide" data-ride="carousel">
<div class="col-sm-2">
<form  method="post">
{% csrf_token %}
<label style="color:white">Service Provider</label>{{ pForm.service_provider }}
<label style="color:white">Service Type</label>{{sForm.service_type}}
<label style="color:white">Service Name</label>{{sForm.service_name}}
<label style="color:white">Service Description</label>{{sForm.service_description}}
<label style="color:white">Service Feature</label>{{fForm.feature}}
<label style="color:white">Feature value</label>{{fForm.attribute}}<br/>
<input type="submit" name="submit"/>
</form>
</div>
    </div>
</body>
</html>